<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Chatbot</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/chatbot.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="#about" class="navbar-element">About me</a>
        <a href="#skills" class="navbar-element">Skills</a>
        <a href="#portfolio" class="navbar-element">Portfolio</a>
    </div>

    <section id="about" class="section">
        <div class="about-content">
            <img src="{% static 'img/profile_picture.png' %}" alt="Profile Picture" id="profile-picture">
            <div class="details">
                <div class="hello">
                    <div class="orangeText">Hello, I'm</div>
                </div>
                <div class="name">
                    <h3>Artem Furman</h3>
                </div>
                <div class="job">
                    <p><span class="greenText">Python Developer</span></p>
                </div>
                <div class="text">
                    <p>I specialize in the creation and deployment of email marketing campaigns.</p>
                </div>
                <a href="#portfolio">
                    <div class="portfolio-button">
                        <span>Portfolio</span>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section id="skills" class="section">
        <h2>My Skills</h2>
        <p>Some information about my skills...</p>
    </section>

    <section id="portfolio" class="section">
        <h2>My Projects</h2>
        <p>Some information about my projects...</p>
    </section>

    <div class="foot">(c) Created by Artem Furman 2023</div>

    <div id="chat-container">
        <div id="chat-close-button"></div>
        <div id="chat-output"></div>
        <div id="chat-input-container">
            <input type="text" id="chat-input" placeholder="Type your message here and press Enter">
            <button id="send-button">Send</button>
        </div>
    </div>
    <button id="chat-button">Chat</button>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chatbot.js' %}"></script>
</body>
</html>
