<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Chatbot</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/chatbot.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="#home-section" class="navbar-element">Home</a>
        <a href="#skills-section" class="navbar-element">Skills</a>
        <a href="#portfolio-section" class="navbar-element">Portfolio</a>
        <a href="#about-section" class="navbar-element">About</a>
    </div>

    <section id="home-section" class="section">
        <div class="about-content">
            <img src="{% static 'img/profile_picture.png' %}" alt="Profile Picture" id="profile-picture">
            <div class="details">
                <div class="hello">
                    <div class="orangeText">Hello, I'm</div>
                </div>
                <div class="name">
                    <h3>Artem Furman</h3>
                </div>
                <div class="job">
                    <p><span class="greenText">Python Developer</span></p>
                </div>
                <div class="text">
                    <p>I specialize in the creation and deployment of email marketing campaigns.</p>
                </div>
                <a href="#portfolio-section">
                    <div class="portfolio-button">
                        <span>Portfolio</span>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section id="skills-section" class="section">
        <h2 class="section-heading">Skills</h2>
        <div class="skills-container">
            <div class="skill-category">
                <h3>Frontend</h3>
                <div class="skills">
                    <div class="skill">
                        <img src="{% static 'img/skills/html.png' %}" alt="HTML icon">
                        <p>HTML</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/css.png' %}" alt="css icon">
                        <p>CSS</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/js.png' %}" alt="js icon">
                        <p>JavaScript</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/react.png' %}" alt="react icon">
                        <p>React.js</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/tailwind.png' %}" alt="Tailwind icon">
                        <p>Tailwind</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/kivy.png' %}" alt="Kivy icon">
                        <p>Kivy</p>
                    </div>
                </div>
            </div>
            <div class="skill-category">
                <h3>Backend</h3>
                <div class="skills">
                    <div class="skill">
                        <img src="{% static 'img/skills/python.png' %}" alt="Python icon">
                        <p>Python</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/django.png' %}" alt="Django icon">
                        <p>Django</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/pytorch.png' %}" alt="PyTorch icon">
                        <p>PyTorch</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/mongodb.png' %}" alt="MongoDB icon">
                        <p>MongoDB</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/mysql.png' %}" alt="MySQL icon">
                        <p>MySQL</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/solidity.png' %}" alt="Solidity icon">
                        <p>Solidity</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="skills-container">
            <div class="skill-category" id="tools">
                <h3>Tools</h3>
                <div class="skills">
                    <div class="skill">
                        <img src="{% static 'img/skills/git.png' %}" alt="Git icon">
                        <p>Git</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/vscode.png' %}" alt="VSCode icon">
                        <p>VSCode</p>
                    </div>
                    <div class="skill">
                        <img src="{% static 'img/skills/linux.png' %}" alt="Linux icon">
                        <p>Linux</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio-section" class="section">
        <h2 class="section-heading">Portfolio</h2>
        <div class="projects-container">
            <div class="project">
                <h4>Project</h4>
            </div> 
            <div class="project">
                <h4>Project</h4>
            </div> 
            <div class="project">
                <h4>Project</h4>
            </div> 
            <div class="project">
                <h4>Project</h4>
            </div> 
            <div class="project">
                <h4>Project</h4>
            </div> 
            <div class="project">
                <h4>Project</h4>
            </div> 
        </div>
    </section>

    <section id="about-section" class="section">
        <h2 class="section-heading">About me</h2>
        <div class="about-container">
            <img src="{% static 'img/about.jpeg' %}" alt="About Picture" id="about-picture">
            <div class="about">
                <h3>About</h4>
                <h4>fagdzfsdfvsdzsfadzvezrsffvzs</h4>
            </div> 
        </div>

        <div class="foot"><span>(c) Created by Artem Furman 2023</span></div>
    </section>

    

    <div id="chat-container">
        <div id="chat-close-button"></div>
        <div id="chat-output"></div>
        <div id="chat-input-container">
            <input type="text" id="chat-input" placeholder="Type your message here and press Enter">
            <button id="send-button">Send</button>
        </div>
    </div>
    <button id="chat-button">Chat</button>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chatbot.js' %}"></script>
</body>
</html>
