<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>Base server</title>
		<link rel="icon" href="{% static 'chatbot/img/favicon.ico' %}" type="image/x-icon" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
	</head>
	<body>
        This is my base backend server. If you're looking for my projects, checkout my portfolio <a href="https://artemfurman.tech/">here</a>.
    </body>
</html>
