<!DOCTYPE html>

<html>
{% load static %}
<head>
    <title>Bitcoin Price Viewer</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'flawtocrypto/css/main.css' %}">
    <style>
        #priceSlider { height: 200px; float: right; }
    </style>
</head>
<body>
    <div id="slider"></div>
    <div id="priceSlider"></div>
    <p id="currentPrice"></p>
    <p id="price"></p>
    <input id="dailyInvestment" type="number" min="0" placeholder="Daily investment in $">
    <p id="totalInvestment"></p>
    <p id="totalBitcoin"></p>
    <p id="initialInvestment"></p>
    

    <script>
        $(function() {
            let prices = {{ prices|safe }};
            let min = 0;
            let max = prices.length - 1;
            let currentPrice = prices[max][1];
            let priceMin = 0;
            let priceMax = currentPrice * 100;
            
            function calculateTotalInvestment(sliderValue, currentPrice) {
                let dailyInvestment = $("#dailyInvestment").val();
                if (dailyInvestment) {
                    let totalBitcoin = 0;
                    let investmentDays = max - sliderValue + 1;
                    for (let i = sliderValue; i <= max; i++) {
                        let priceData = prices[i];
                        let price = priceData[1];
                        let bitcoinPurchased = dailyInvestment / price;
                        totalBitcoin += bitcoinPurchased;
                    }
                    let totalValue = totalBitcoin * currentPrice;
                    let initialInvestment = dailyInvestment * investmentDays;
                    $("#totalInvestment").text(`Total value of investment: $${totalValue.toFixed(2)}`);
                    $("#totalBitcoin").text(`Total Bitcoin purchased: ${totalBitcoin.toFixed(8)}`);
                    $("#initialInvestment").text(`Sum of initial investments: $${initialInvestment}`);
                }
            }

            $("#slider").slider({
                range: "max",
                min: min,
                max: max,
                value: max,
                slide: function(event, ui) {
                    let currentPriceData = prices[ui.value];
                    let timestamp = currentPriceData[0] / 1000;
                    let date = new Date(timestamp * 1000).toISOString().split('T')[0];
                    let currentPrice = $("#priceSlider").slider("value");
                    $("#price").text(`Date: ${date} - Price: $${currentPrice.toFixed(2)}`);
                    calculateTotalInvestment(ui.value, currentPrice);
                }
            });

            $("#priceSlider").slider({
                orientation: "vertical",
                range: "max",
                min: priceMin,
                max: priceMax,
                value: currentPrice,
                slide: function(event, ui) {
                    $("#currentPrice").text(`Current set price: $${ui.value.toFixed(2)}`);
                    calculateTotalInvestment($("#slider").slider("value"), ui.value);
                }
            });

            $("#dailyInvestment").on("input", function() {
                calculateTotalInvestment($("#slider").slider("value"), $("#priceSlider").slider("value"));
            });

            // Trigger the slide event to display the initial price
            $("#slider").slider("value", max);
            $("#currentPrice").text(`Current set price: $${currentPrice.toFixed(2)}`);
        });
    </script>
</body>
</html>
