# .gitignore

# Ignore compiled Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.bak
*.swp
*.DS_Store
/node_modules
/dist
staticfiles/staticfiles_backup/



# Ignore SQLite database file
*.sqlite3

# Ignore environment files
.env
