Django==4.2
python-dotenv
django-filter
djangorestframework
djangorestframework-simplejwt
django-allauth
dj-rest-auth
django-cors-headers
python-dateutil
openai

# run 'pip install -r requirements.txt'